<footer class="site-footer" id="footer">
    <div class="footer-title">
        <p>&copy;Copyright 2016, Mindjet Zheng</p>
    </div>
    <ul class="footer-contact">
        <li>
            <a href="{{site.github_username | prepend: 'https://www.github.com/'}}" target="_blank" title="github"><img class="footer-contact-github" src="assets/icons/icon-github.svg"></a>
        </li>
        <li>
            <a href="{{site.facebook_username | prepend: 'https://www.facebook.com/'}}" target="_blank" title="facebook"><img class="footer-contact-facebook" src="assets/icons/icon-facebook.svg"></a>
        </li>
        <li>
            <a href="{{site.insta_username | prepend: 'https://www.instagram.com/'}}" target="_blank" title="instagram"><img class="footer-contact-instagram" src="assets/icons/icon-insta.svg"></a>
        </li>
        <li>
            <a href="{{site.twitter_username | prepend: 'https://www.twitter.com/'}}" target="_blank" title="twitter"><img class="footer-contact-twitter" src="assets/icons/icon-twitter.svg"></a>
        </li>
    </ul>
    


</footer>
