/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 1.2;

  @include media-query($on-laptop) {
    margin-bottom: $spacing-unit / 2;
  }

}

/**
* Override the h2 margin-bottom in .post-list
*/

.post-list h2 {
  margin-bottom: 0px;
}

.home-block p{
  color: #000;
  margin: 10px 0 0 0;
}

/**
* Override the h3 margin-bottom in .post-content
*/
.post-content h3{
  margin-bottom:$spacing-unit / 2.5;

  @include media-query($on-laptop) {
    margin-bottom: $spacing-unit / 3;
  }

}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
* Control the icons in home.html
*/
.home{
  text-align: center;
}

.home-block{
  text-align: center;
  padding: 20px;
  display: inline-block;
  background-color: #f4f5f7;
  border: 1px solid #ccc;
  border-radius: 45px;
  margin: 10px;
  cursor: pointer;
  
  .home-block-icon {
      height: 100px;
      transition: .4s ease-out;

      &:hover{
        height: 130px;
        transition: .4s ease-out;
      }

  }

  >p{
    margin-top: 10px;
  }

}

.home-contact{
  text-align: center;

  .home-block{
    text-align: center;
    padding: 20px;
    display: inline-block;
    background-color: #f4f5f7;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #888888;
    
    .home-block-icon {
        height: 80px;
    }

    &:hover{
      box-shadow: 1px 1px 8px #666;
    }

  }

}





/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

/*  
  &:visited {
    color: darken($brand-color, 15%);
  }
*/

  &:hover {
    color: darken($brand-color, 15%);
    text-decoration: underline;
  }
}

/**
* Override <a> tags of post-link
*/
.post-link{
  color: #666;
  
  &:hover{
    text-decoration: none;
    color: darken($grey-color, 95%);
  }

  &:visited{
    color: darken($grey-color, 95%);
  }
}

/**
* Override <a> tags of post-direction
*/
.post-direction{
  color: #333;

  &:hover{
    text-decoration: none;
    color: white;
    background-color: #333;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color-dark;
  font-family: "Source Sans Pro"; 
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-family: consolas, monospace;
  font-size: 16px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}
