---
layout: default
---
<div class="home">
    <!-- <h1 class="page-heading">&lt;Coding/&gt;</h1> -->
    <ul style="list-style-type:none;">
        <li class="home-block">
            <a href="/coding/index.html">
                <img src="/assets/icon/icon-android.svg">
                <p>
                    Coding
                </p>
            </a>
        </li>
        <li class="home-block">
            <a href="/photography/index.html">
                <img src="/assets/icon/icon-camera.svg">
                <p>
                    Photography
                </p>
            </a>
        </li>
        <li class="home-block">
            <a href="/contact/index.html">
                <img src="/assets/icon/icon-contact.svg">
                <p>
                    Contact
                </p>
            </a>
        </li>
    </ul>
<!--     <div class="home-block">
        <img class="home-block-icon" src="/assets/icon/icon-android.svg">
            <p>
                Coding
            </p>
    </div>
    <div class="home-block">
        <img class="home-block-icon" src="/assets/icon/icon-camera.svg">
            <p>
                Photography
            </p>
    </div>
    <div class="home-block">
        <img class="home-block-icon" src="/assets/icon/icon-contact.svg">
            <p>
                Contact
            </p>
    </div> -->
    {{ content }}

</div>
