---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>


  <!-- post redirect -->
  <div class="post-redirect">

    {% if page.next.url == null %}
      <span class="post-end">< No later post</span>
    {% else %}
      <a class="post-next post-direction" href="{{page.next.url}}">< Later post</a>
    {% endif %}

    {% if page.previous.url == null %}
      <span class="post-end">No earlier post ></span>
    {% else %}
      <a class="post-previous post-direction" href="{{page.previous.url}}">Earlier post ></a>
    {% endif %}

  </div> 

  <!-- UY BEGIN -->
  <div id="uyan_frame"></div>
  <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2114843"></script>
  <!-- UY END -->

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
</article>
